* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Montserrat;
  src: url(font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body {
  overflow-x: hidden;
}

.MainPage {
  width: 100%;
  height: 100%;
}
.MainPage .MainContent {
  background: rgb(96, 195, 251);
  background: linear-gradient(330deg, rgba(96, 195, 251, 0) -100%, rgb(0, 3, 4) 100%), url(img/crystal-kwok-mhUsz2ezlXQ-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
}
.MainPage .header {
  position: fixed;
  z-index: 2;
  padding: 30px;
  width: 100%;
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
.MainPage .header .logo img {
  width: 200px;
  height: auto;
}
.MainPage .header .decider {
  height: 70px;
  margin-left: 150px;
  background-color: white;
  width: 0px;
  border: solid 2px white;
}
.MainPage .header .TextBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 24px;
}
.MainPage .header .TextBlock p {
  margin-left: 150px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.MainPage .header .TextBlock p:hover {
  color: #d1d1d1;
}
.MainPage .header .TextBlock .sign {
  margin-left: 100px;
  background-color: white;
  border-radius: 20px;
  padding: 4px 44px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.MainPage .header .TextBlock .sign:hover {
  background-color: #d1d1d1;
}
.MainPage .header .TextBlock .sign p {
  color: black;
  margin: 0;
}
.MainPage .animation {
  position: absolute;
  z-index: 2;
  width: 759px;
  height: 788px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  bottom: 0;
  left: 60%;
}
.MainPage .animation img {
  height: 800px;
}
.MainPage .Meeting {
  position: absolute;
  z-index: 2;
  top: 35%;
  color: white;
  left: 150px;
}
.MainPage .Meeting .TextBlock {
  width: 900px;
}
.MainPage .Meeting .TextBlock h1 {
  font-size: 96px;
  font-weight: 600;
}
.MainPage .Meeting .TextBlock p {
  font-size: 45px;
}
.MainPage .Meeting .button {
  background-color: white;
  margin-top: 52px;
  padding: 25px 0;
  width: 425px;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 0px 5px #0055D3);
          filter: drop-shadow(0px 0px 5px #0055D3);
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.MainPage .Meeting .button p {
  margin-left: 40px;
  font-size: 32px;
  color: black;
}
.MainPage .Meeting .button:hover {
  background-color: #d1d1d1;
  -webkit-filter: drop-shadow(0px 0px 10px #0055D3);
          filter: drop-shadow(0px 0px 10px #0055D3);
}
.MainPage .About {
  position: absolute;
  top: 1040px;
  z-index: 1;
  width: 100vw;
  height: 110%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: white;
  background: url(img/texture-BG6.jpg), lightgray 50%/cover no-repeat;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 85, 211, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 85, 211, 0.25);
  background-size: cover;
  border-radius: 50px;
}
.MainPage .About h1 {
  margin-top: 250px;
  color: black;
  margin-left: 150px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .About .contentAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.MainPage .About .contentAbout .LeftBlock, .MainPage .About .contentAbout .RightBlock {
  margin-top: 132px;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 18, 46, 0.7));
          filter: drop-shadow(0px 0px 6px rgba(0, 18, 46, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.MainPage .About .contentAbout .LeftBlock {
  margin-left: 150px;
}
.MainPage .About .contentAbout .LeftBlock .TextBlock {
  width: 625.548px;
  height: 398.26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: rgba(0, 18, 46, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
}
.MainPage .About .contentAbout .LeftBlock .TextBlock span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.MainPage .About .contentAbout .RightBlock .TextBlock {
  width: 561px;
  height: 398.26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: rgba(0, 18, 46, 0.7);
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.MainPage .About .contentAbout .RightBlock .TextBlock span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.MainPage .About .contentAbout .RightBlock .imgBlock {
  width: 508px;
  height: 326px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: rgba(0, 18, 46, 0.7);
  margin: 38px;
  margin-top: 40px;
}
.MainPage .About .contentAbout .buttonSlide {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 100px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: rgba(1, 18, 33, 0.8901960784);
  padding: 18px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px;
  margin-top: 288px;
  cursor: pointer;
}
.MainPage .About .contentAbout .buttonSlide span {
  width: 46px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.MainPage .About .contentAbout .buttonSlide:hover {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.62));
          filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.62));
}
.MainPage .Catalog {
  position: absolute;
  top: 200vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-left: 250px;
}
.MainPage .Catalog .First, .MainPage .Catalog .Second, .MainPage .Catalog .Third, .MainPage .Catalog .Fourth {
  cursor: pointer;
  margin-left: 75px;
  margin-top: 350px;
  width: 334.3px;
  height: 520.023px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: rgba(64, 64, 64, 0.7);
}
.MainPage .Catalog .First:hover, .MainPage .Catalog .Second:hover, .MainPage .Catalog .Third:hover, .MainPage .Catalog .Fourth:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.62));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.62));
}
.MainPage .Catalog .First .TextBlock, .MainPage .Catalog .Second .TextBlock, .MainPage .Catalog .Third .TextBlock, .MainPage .Catalog .Fourth .TextBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 334.3px;
  height: 173.341px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 30px;
  background: #1F1F1F;
  top: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.MainPage .Catalog .First .TextBlock p, .MainPage .Catalog .Second .TextBlock p, .MainPage .Catalog .Third .TextBlock p, .MainPage .Catalog .Fourth .TextBlock p {
  width: 323px;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .Catalog .First .TextBlock span, .MainPage .Catalog .Second .TextBlock span, .MainPage .Catalog .Third .TextBlock span, .MainPage .Catalog .Fourth .TextBlock span {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .Catalog .First {
  margin-left: 0px;
}
.MainPage .Catalog .First img {
  width: 334.3px;
  height: 346.929px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.MainPage .Catalog .Second img {
  width: 241px;
  height: 319px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 13px 47px 10px;
}
.MainPage .Catalog .Third img {
  width: 224px;
  height: 326px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 13px 55px 10px;
}
.MainPage .Catalog .Fourth img {
  width: 224px;
  height: 326px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 13px 55px 10px;
}
.MainPage .Catalog h1 {
  padding-left: 150px;
  margin-top: 240px;
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}
.MainPage .Catalog .buttonMore {
  position: absolute;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 413px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: rgba(87, 87, 87, 0.71);
  padding: 18px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  margin-top: 240px;
  cursor: pointer;
}
.MainPage .Catalog .buttonMore span {
  width: 46px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.MainPage .Catalog .buttonMore:hover {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.62));
          filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.62));
}
.MainPage .service {
  position: absolute;
  top: 871px;
  height: 10vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 212px);
  margin-left: 106px;
  height: 300px;
  -webkit-filter: drop-shadow(0px 4px 50px rgba(0, 50, 100, 0.25));
          filter: drop-shadow(0px 4px 50px rgba(0, 50, 100, 0.25));
}
.MainPage .service .diagnostics, .MainPage .service .repair, .MainPage .service .verification, .MainPage .service .calibration, .MainPage .service .design {
  width: 300px;
  height: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  margin-left: 53px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.MainPage .service .diagnostics {
  margin-left: 0;
}
.MainPage .service .diagnostics img {
  width: 209px;
  height: 217px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 42px 46px;
}
.MainPage .service .repair img {
  width: 160px;
  height: 212px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 44px 70px;
}
.MainPage .service .verification img {
  width: 140px;
  height: 217px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 41px 80px;
}
.MainPage .service .calibration img {
  width: 195px;
  height: 217px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 42px 53px;
}
.MainPage .service .design img {
  width: 276px;
  height: 227px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 37px 12px;
}
.MainPage .contact {
  position: absolute;
  z-index: 2;
  top: 3000px;
  width: 100%;
  height: 1728px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 60px 60px 0px 0px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MainPage .contact h1 {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 60px;
}
.MainPage .contact .filling {
  width: 1503px;
  height: 801px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.MainPage .contact .filling .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
}
.MainPage .contact .filling .person .Name input {
  width: 400px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: #1F1F1F;
  color: #FFF;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .Name input::-webkit-input-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.MainPage .contact .filling .person .Name input::-moz-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainPage .contact .filling .person .Name input:-ms-input-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.MainPage .contact .filling .person .Name input::-ms-input-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.MainPage .contact .filling .person .Name input::placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MainPage .contact .filling .person .patronymic {
  margin-left: 68px;
}
.MainPage .contact .filling .person .patronymic input {
  width: 400px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: #1F1F1F;
  color: #FFF;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .patronymic input::-webkit-input-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.MainPage .contact .filling .person .patronymic input::-moz-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainPage .contact .filling .person .patronymic input:-ms-input-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.MainPage .contact .filling .person .patronymic input::-ms-input-placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.MainPage .contact .filling .person .patronymic input::placeholder {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MainPage .contact .filling .person .phone {
  margin-left: 68px;
}
.MainPage .contact .filling .person .phone input {
  width: 567px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 3px solid #1F1F1F;
  color: #000;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .phone input::-webkit-input-placeholder {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.MainPage .contact .filling .person .phone input::-moz-placeholder {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainPage .contact .filling .person .phone input:-ms-input-placeholder {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.MainPage .contact .filling .person .phone input::-ms-input-placeholder {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.MainPage .contact .filling .person .phone input::placeholder {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MainPage .contact .filling .person .phone input:invalid {
  color: red;
}
.MainPage .contact .filling .person .mailContact {
  position: absolute;
  margin-left: 936px;
  margin-top: 131px;
}
.MainPage .contact .filling .person .mailContact input {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 567px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 3px solid #1F1F1F;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .mailContact input::-webkit-input-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .mailContact input::-moz-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .mailContact input:-ms-input-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .mailContact input::-ms-input-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .mailContact input::placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .organizationName {
  position: absolute;
  margin-top: 131px;
}
.MainPage .contact .filling .person .organizationName input {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 868px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  border: 3px solid #1F1F1F;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .organizationName input::-webkit-input-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .organizationName input::-moz-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .organizationName input:-ms-input-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .organizationName input::-ms-input-placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .person .organizationName input::placeholder {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .TextBlock {
  margin-top: 188px;
}
.MainPage .contact .filling .TextBlock textarea {
  min-width: 1503px;
  max-width: 1503px;
  min-height: 671px;
  max-height: 671px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #F7F7FA;
  -webkit-box-shadow: 0px 4px 57px 0px rgba(0, 85, 211, 0.25);
          box-shadow: 0px 4px 57px 0px rgba(0, 85, 211, 0.25);
  padding: 20px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.MainPage .contact .filling .TextBlock textarea::-webkit-input-placeholder {
  padding-top: 316px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .TextBlock textarea::-moz-placeholder {
  padding-top: 316px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .TextBlock textarea:-ms-input-placeholder {
  padding-top: 316px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .TextBlock textarea::-ms-input-placeholder {
  padding-top: 316px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .filling .TextBlock textarea::placeholder {
  padding-top: 316px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .addContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.MainPage .contact .addContent .confident {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.MainPage .contact .addContent .confident .checkMark input {
  margin-top: 203px;
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.MainPage .contact .addContent .confident p {
  margin-left: 25px;
  margin-top: 213px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .addContent .buttonContact {
  margin-top: 191px;
  margin-left: 284px;
  width: 400px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: #00122E;
  -webkit-box-shadow: 0px 4px 45px 0px rgba(0, 85, 211, 0.25);
          box-shadow: 0px 4px 45px 0px rgba(0, 85, 211, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.MainPage .contact .addContent .buttonContact span {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage .contact .addContent .buttonContact:hover {
  background-color: #002c71;
}
.MainPage footer {
  position: absolute;
  top: 4514px;
  width: 100%;
  height: 541px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 40px 40px 0px 0px;
  background: #010710;
  z-index: 2;
}
.MainPage footer .leftContent {
  padding-left: 195px;
}
.MainPage footer .Main {
  padding-left: 195px;
  margin-top: 75px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.MainPage footer .content a {
  text-decoration: none;
}
.MainPage footer .content p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.MainPage footer .content .Name {
  margin: 30px 235px 30px 0;
}
.MainPage footer .content .Address {
  margin: 30px 0px 15px 0;
}
.MainPage footer .content .phone {
  margin: 15px 0px 52px 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.MainPage footer .content .phone:hover {
  color: #8e8e8e;
}
.MainPage footer .content .mailName {
  margin: 15px 0px 0px 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.MainPage footer .content .mailName:hover {
  color: #8e8e8e;
}
.MainPage footer .textAdd p {
  margin-top: 94px;
  text-align: center;
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.blockAbout {
  position: absolute;
  top: 900px;
  left: 0;
}

.blockCatalog {
  position: absolute;
  top: 2300px;
  left: 0;
}

.headerScrollDown {
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgb(0, 0, 0)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 150%);
  -webkit-animation: 0.1s bgScrollHeaderDown;
          animation: 0.1s bgScrollHeaderDown;
}

.headerScrollTop {
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 150%);
  -webkit-animation: 0.1s bgScrollHeaderTop;
          animation: 0.1s bgScrollHeaderTop;
}

.animationService-Left-One {
  margin-left: 150px;
  -webkit-animation: 2s leftSlideserviceOne;
          animation: 2s leftSlideserviceOne;
}

.animationService-Right-One {
  -webkit-animation: 2s rightSlideserviceOne;
          animation: 2s rightSlideserviceOne;
  margin-left: -650px;
}

.animationService-Left-Two {
  margin-left: -1460px;
  -webkit-animation: 2s leftSlideserviceTwo;
          animation: 2s leftSlideserviceTwo;
}

.animationService-Right-Two {
  -webkit-animation: 2s rightSlideserviceTwo;
          animation: 2s rightSlideserviceTwo;
  margin-left: -650px;
}

.animationService {
  margin-left: -1460px;
  -webkit-animation: 3s leftSlideservice;
          animation: 3s leftSlideservice;
}

.buttonSlide-alt {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

@-webkit-keyframes leftSlideservice {
  0% {
    -webkit-transform: translateX(1610px);
            transform: translateX(1610px);
  }
  15% {
    -webkit-transform: translateX(1610px);
            transform: translateX(1610px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftSlideservice {
  0% {
    -webkit-transform: translateX(1610px);
            transform: translateX(1610px);
  }
  15% {
    -webkit-transform: translateX(1610px);
            transform: translateX(1610px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes leftSlideserviceOne {
  0% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  15% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes leftSlideserviceOne {
  0% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  15% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes rightSlideserviceOne {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  15% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes rightSlideserviceOne {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  15% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes leftSlideserviceTwo {
  0% {
    -webkit-transform: translateX(810px);
            transform: translateX(810px);
  }
  15% {
    -webkit-transform: translateX(810px);
            transform: translateX(810px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes leftSlideserviceTwo {
  0% {
    -webkit-transform: translateX(810px);
            transform: translateX(810px);
  }
  15% {
    -webkit-transform: translateX(810px);
            transform: translateX(810px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes rightSlideserviceTwo {
  0% {
    -webkit-transform: translateX(-810px);
            transform: translateX(-810px);
  }
  15% {
    -webkit-transform: translateX(-810px);
            transform: translateX(-810px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes rightSlideserviceTwo {
  0% {
    -webkit-transform: translateX(-810px);
            transform: translateX(-810px);
  }
  15% {
    -webkit-transform: translateX(-810px);
            transform: translateX(-810px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes bgScrollHeaderDown {
  0% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 150%);
  }
  25% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.25)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 150%);
  }
  50% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  }
  75% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.75)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 150%);
  }
  100% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgb(0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 150%);
  }
}
@keyframes bgScrollHeaderDown {
  0% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 150%);
  }
  25% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.25)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 150%);
  }
  50% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  }
  75% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.75)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 150%);
  }
  100% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgb(0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 150%);
  }
}
@-webkit-keyframes bgScrollHeaderTop {
  0% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgb(0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 150%);
  }
  25% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.75)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 150%);
  }
  50% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  }
  75% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.25)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 150%);
  }
  100% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 150%);
  }
}
@keyframes bgScrollHeaderTop {
  0% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgb(0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 150%);
  }
  25% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.75)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 150%);
  }
  50% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  }
  75% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.25)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 150%);
  }
  100% {
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 150%);
  }
}